<div>
  <h2>Groceries to buy</h2>

  <ul>
  <%= for grocery <- @groceries do %>
    <li><%= grocery.name %></li>
  <% end %>
  </ul>
</div>

<%= link("Add a new grocery", to: Routes.grocery_path(@conn, :new)) %>
